.field-group label{
    display: block;
}

.field-group.has-error input{
    border-color: #FF116E;
}
.field-group.has-error>span{
    color: #FF116E;
}
.field-group--login>span{
    font-size: 12px;
    position: relative;
    top: -25px;
}